# Logs
logs

# Dependency directory
node_modules

# Debug log from npm
npm-debug.log
package-lock.json

# Enviroment
.env

# Config
config

# Uploaded files
public/upload
public/userprofile
public/upload-official
uploadfiles
exportdata

# Plugins
plugins