doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content

  script('javacript/jquery-1.11.0.min.js')
  script('javacript/bootstrap.min.js')
