extends layout

block content
  .container
    .row
      h2.text-center Форма входа в систему
      hr
      form(id="signin" name="signin" method="post" action="/signin").col-sm-offset-2.col-sm-8
        .form-group
          label(for="email") Электронная почта
          input.form-control.span8(name="email", type="email")
        .form-group
          label(for="password") Пароль
          input.form-control.span10(name="password", type="password")
        .form-group
          input(class="btn btn-default", type="submit", value="Ввойти")