extends layout

block content
  .container
    .row
      h2.text-center Форма регистрации
      hr
      form(id="signup" name="signup" method="post" action="/signup").col-sm-offset-2.col-sm-8
        .form-group
          label(for="email") Электронная почта
          input.form-control.span8(name="email", type="email")
        .form-group
          label(for="firstname") Имя
          input.form-control.span6(name="firstname", type="text")
        .form-group
          label(for="lastname") Фамилия
          input.form-control(name="lastname", type="text")
        .form-group
          label(for="password") Пароль
          input.form-control.span10(name="password", type="password")
        .form-group
          input(class="btn btn-default", type="submit", value="Зарегистрироватся")