extends layout

block style
  include ./style/work
block scripts
  include ./script/work

include ./mixins/header

include ./work/authoritylist
include ./work/schedulelist
include ./work/protocollist
include ./work/programlist

include ./work/createauthority
include ./work/createschedule
include ./work/createprotocol
include ./work/createprogram
include ./work/createrepair

include ./mixins/createnote
include ./mixins/createfile

block content
  #loading_layer
    .loader

  +header(user, true, true, false)

  .container(role="main")
    .row
      .col-sm-12.well
        if (viewHelper.checkUserRule('showWork', user.Rules))
          .well.well-sm
            h4.text-center
              b
                i.text-uppercase= title

          div(class="",role="tabpanel",data-example-id="togglable-tabs")
            #mainTab.btn-pref.btn-group.btn-group-justified.btn-group-lg(role="tablist")

              div(role="presentation",class="btn-group")
                button.btn.btn-primary(href="#tabAuthority",id="authority-tab",role="tab",data-toggle="tab",aria-expanded="false")
                  div
                    i.fa.fa-university
                    | &nbsp
                    span.hidden-xs Приемы

              div(role="presentation",class="btn-group")
                button.btn.btn-default(href="#tabSchedule",id="schedule-tab",role="tab",data-toggle="tab",aria-expanded="false")
                  div
                    i.fa.fa-list-alt
                    | &nbsp
                    span.hidden-xs Титула

              div(role="presentation",class="btn-group")
                button.btn.btn-default(href="#tabProtocol",id="protocol-tab",role="tab",data-toggle="tab",aria-expanded="false")
                  div
                    i.fa.fa-users
                    | &nbsp
                    span.hidden-xs Протоколы

              div(role="presentation",class="btn-group")
                button.btn.btn-default(href="#tabProgram",id="program-tab",role="tab",data-toggle="tab",aria-expanded="false")
                  div
                    i.fa.fa-globe
                    | &nbsp
                    span.hidden-xs Программы

              div(role="presentation",class="btn-group")
                button.btn.btn-default(href="#tabRepair",id="repair-tab",role="tab",data-toggle="tab",aria-expanded="false")
                  div
                    i.fa.fa-gavel
                    | &nbsp
                    span.hidden-xs Работы

            #mainTabContent.tab-content
              div(role="tabpanel",class="tab-pane fade in active",id="tabAuthority")
                .row
                  .col-sm-12
                    if (viewHelper.checkUserRule('createWork', user.Rules))
                      button(type="button" class="btn btn-success btn-block" data-toggle="modal" data-target="#createAuthority") Добавить прием
                    ul.list-group
                      each authority in authorities
                        +authoritylist(authority)

              div(role="tabpanel",class="tab-pane fade",id="tabSchedule")
                .row
                  .col-sm-12
                    if (viewHelper.checkUserRule('createWork', user.Rules))
                      button(type="button" class="btn btn-success btn-block" data-toggle="modal" data-target="#createSchedule") Добавить титульный список
                    ul.list-group
                      each schedule in schedules
                        +schedulelist(schedule)

              div(role="tabpanel",class="tab-pane fade",id="tabProtocol")
                .row
                  .col-sm-12
                    if (viewHelper.checkUserRule('createWork', user.Rules))
                      button(type="button" class="btn btn-success btn-block" data-toggle="modal" data-target="#createProtocol") Добавить протокол
                    ul.list-group
                      each protocol in protocols
                        +protocollist(protocol)
                        
              div(role="tabpanel",class="tab-pane fade",id="tabProgram")
                .row
                  .col-sm-12
                    if (viewHelper.checkUserRule('createWork', user.Rules))
                      button(type="button" class="btn btn-success btn-block" data-toggle="modal" data-target="#createProgram") Добавить программу
                    ul.list-group
                      each program in programs
                        +programlist(program)

              div(role="tabpanel",class="tab-pane fade",id="tabRepair")
                .row
                  .col-sm-12
                    if (viewHelper.checkUserRule('createWork', user.Rules))
                      button(type="button" class="btn btn-success btn-block" data-toggle="modal" data-target="#createRepair") Добавить вид ремонта
                    ul.list-group
                      each problem in problems
                        li.list-group-item
                          | #{problem.name}

            if (viewHelper.checkUserRule('createWork', user.Rules))
              +createauthority()
              +createschedule()
              +createprotocol()
              +createprogram()
              +createrepair()

            if (viewHelper.checkUserRule('addFile', user.Rules))
              +createnote()
              +createfile()