link(rel='stylesheet', href='/stylesheets/bootstrap-select.css')
link(rel='stylesheet', href='/stylesheets/typeaheadjs.css')
link(rel='stylesheet', href='/stylesheets/fileinput.css')
link(rel='stylesheet', href='/stylesheets/fileinput-theme-explorer.css')
link(rel='stylesheet', href='/stylesheets/magnific-popup.css')
