mixin createinbox(house, depatments, problems)
  #createInboxModal.modal.fade(role="dialog")
    .modal-dialog
      .modal-content
        .modal-header
          button(type="button" class="close" data-dismiss="modal") &times;
          h4.modal-title.text-uppercase Создания нового входящего

        .modal-body
          form(role="form" action= house.id + '/inbox' method='post' id="formInbox")
            .form-group
              label(for="numberInbox") Номер и дата входящего письма
              .input-group
                i.input-group-addon №
                input(type="text" class="form-control" id="numberInbox" placeholder="Введите номер письма" name='numberInbox')
              br
              .input-group
                span.input-group-addon
                  i.fa.fa-calendar
                input(type="date" class="form-control" id="dateInbox" placeholder="Введите дату письма" name='dateInbox')

            .form-group
              label(for="depatmentInbox") Закреплен за отделом
              select(class="form-control" id="depatmentInbox" multiple="multiple" name='depatment' style="width:100%")
                option(value='') Не выбрано
                each depatment in depatments
                  option(value= depatment.id) #{depatment.name}

            .form-group
              label(for="problemInbox") Вопросы в письме
              select(class="form-control" id="problemInbox" name='problem' multiple="multiple" style="width:100%")
                option(value='') Не выбрано
                each problem in problems
                  option(value= problem.id) #{problem.name}

            .form-group
              label(for="bindingInbox") Привязка к заявителю
              .input-group
                span.input-group-addon
                  i.fa.fa-building-o
                input(type="text" class="form-control" id="bindingInbox" placeholder="Привязка к месту" name='bindingInbox')

            .form-group
              label(for="termInbox") Дата срока исполнения
              .input-group
                span.input-group-addon
                  i.fa.fa-calendar
                input(type="date" class="form-control" id="termInbox" placeholder="Введите срок исполнения" name='termInbox')


            button.btn.btn-primary(type="submit" id='sendInbox') Создать входящие

        .modal-footer
          button(type="button" class="btn btn-default" data-dismiss="modal") Закрыть