mixin createnotetask(itemtask)
  - var uniquekey = Math.random().toString().slice(2);
  .noteTask
    button.arrow-toggle.collapsed.btn.btn-primary.btn-sm(data-toggle="collapse" data-target="#notetask-" + itemtask.id + '-' + uniquekey)
      i.fa.fa-commenting
      | #{" "}Заметки
    .collapse(id= "notetask-" + itemtask.id + '-' + uniquekey)
      each note, ind in itemtask.NoteTasks
        blockquote(class= ((ind%2) ?'blockquote-reverse':''))
          p #{note.text}
          footer #{moment(note.createAt).format("DD/MM/YYYY")}