include ../mixins/modeldetailbutton
include ../mixins/tooltipborder
include ../mixins/tooltip-date

mixin authoritylist(authority, rules)
  +tooltipborder("Статус - " + viewHelper.tooltipTitle(authority.status))
  li.list-group-item(id= viewHelper.addBorderStyle(authority.status))
    .dropdown.pull-right
      +modeldetailbutton(authority, 'authority', rules)
    span.searchtext
      | #{authority.name}
      br
      | #{authority.location}
      br
      | [ #
      | #{' '}
      +tooltipdatenow(authority.date)
      | #{' ]'}