include ../mixins/modeldetailbutton

mixin authoritylist(authority, rules)
  li.list-group-item
    .dropdown.pull-right
      +modeldetailbutton(authority, 'authority', rules)
    span.searchtext
      | #{authority.name}
      br
      | #{moment(authority.date).format('DD-MM-YYYY')}
      br
      | #{authority.location}