mixin create-tasks-list(model, modeltype, modelid, users)
  #createTask.modal.fade(role="dialog")
    .modal-dialog
      .modal-content
        .modal-header
          button(type="button" class="close" data-dismiss="modal") &times;
          h4.modal-title.text-uppercase Сделать фотоотчет для списка домов

        .modal-body

          form(role="form" action='/work/task/list' method='post')
            .hidden-inputs
              - var checkItemTask = R.any(task => { return (task.taskable == modeltype) && (task.taskable_id == modelid)})
              - var createHelperArr = R.juxt([R.prop('id'), R.prop('sector'), viewHelper.createNameHouse])
              - var groupHouses = R.compose(R.map(createHelperArr), R.filter(house => !checkItemTask(house.ItemTasks)))(model.Houses)
              input#allHouseList(type="hidden" value= JSON.stringify(R.map(createHelperArr, model.Houses)))
              input#noTaskHouseList(type="hidden" value= JSON.stringify(groupHouses))
              input(type="hidden" value= modelid name='modelid')
              input(type="hidden" value= modeltype name='modeltype')
            
            .form-group
              label(for="userTask") Закреплен за сотрудником
              select(class="form-control" id="userTask" name='usertask')
                option(value='') Не выбрано
                each user in users
                  if (user.id !== user.ChiefId && user.Depatment)
                    option(value= user.id) #{user.name} (#{user.Depatment.name})

            .form-group
              label(for="termTask") Дата срока исполнения
              .input-group
                span.input-group-addon
                  i.fa.fa-calendar
                input(type="date" class="form-control" id="termTask" placeholder="Введите срок исполнения" name='termtask')

            .form-group
              .dropdown
                button.btn.btn-primary.dropdown-toggle(type="button" data-toggle="dropdown") Фильт по участкам
                  span.caret
                ul.dropdown-menu
                  li
                    a.filterDistrictOptions(href="#" data-sector='all') Начальный список
                  each sector in [42, 43, 44, 45, 65, 66, 58, 59, 60, 61]
                    li
                      a.filterDistrictOptions(href="#" data-sector= sector) Участок #{sector}

            .form-group
              select(id='houseListForTaskOptions' multiple='multiple' name='houselist')


            button.btn.btn-primary(type="submit" id='sendTaskList') Сохранить

        .modal-footer
          button(type="button" class="btn btn-default" data-dismiss="modal") Закрыть
