include ../mixins/modeldetailbutton

mixin programlist(program, rules)
  li.list-group-item
    .dropdown.pull-right
      +modeldetailbutton(program, 'program', rules)
    span.searchtext
      | #{program.title}
      br
      | #{moment(program.year).format('YYYY')}
