include ../mixins/modeldetailbutton
include ../mixins/tooltipborder

mixin programlist(program, rules)
  +tooltipborder("Статус - " + viewHelper.tooltipTitle(program.status))
  li.list-group-item(id= viewHelper.addBorderStyle(program.status))
    .dropdown.pull-right
      +modeldetailbutton(program, 'program', rules)
    span.searchtext
      | #{program.title}
      br
      | #{moment(program.year).format('YYYY')}
