extends ../layout

block style
  include ../style/work
block scripts
  include ../script/work

include ../mixins/header
include ../mixins/history

include ./changelist

include ../mixins/createnote
include ../mixins/createfile
include ../mixins/display-house-district-sector
include ../mixins/tooltip-date

block content
  #loading_layer
    .loader

  +header(user, true, true, true)

  .container(role="main")
    .row
      .col-sm-12.well#tabProtocol
        if (viewHelper.checkUserRule('showWork', user.Rules))
          .well.well-sm
            h4.text-center
              b
                i.text-uppercase
                  | #{protocol.title}
                  br
                  | #{protocol.location}
                  br
                  | [ #
                  | #{' '}
                  +tooltipdatenow(protocol.date)
                  | #{' ]'}

          if (viewHelper.checkUserRule('changeWork', user.Rules))
            button(type="button" class="btn btn-success btn-block" data-toggle="modal" data-target="#changeList") Добавить / Изменить список домов

          form(role="form")#searchProtocol
            .input-group
              input.search(type="text" class="form-control" placeholder="Поиск в списке")
              .input-group-btn
                button.btn.btn-primary(type="button")
                  i.fa.fa-times
          hr

          +display-house-district-sector(protocol.Houses, 'protocol', protocol.id)

          if (viewHelper.checkUserRule('changeWork', user.Rules))
            +changelist(protocol)