include ../mixins/modeldetailbutton

mixin protocollist(protocol, rules)
  li.list-group-item
    .dropdown.pull-right
      +modeldetailbutton(protocol, 'protocol', rules)
    span.searchtext
      | #{protocol.title}
      br
      | #{protocol.location}
      br
      | #{moment(protocol.date).format("DD-MM-YYYY")}

