include ../mixins/modeldetailbutton
include ../mixins/tooltipborder
include ../mixins/tooltip-date

mixin protocollist(protocol, rules)
  +tooltipborder("Статус - " + viewHelper.tooltipTitle(protocol.status))
  li.list-group-item(id= viewHelper.addBorderStyle(protocol.status))
    .dropdown.pull-right
      +modeldetailbutton(protocol, 'protocol', rules)
    span.searchtext
      | #{protocol.title}
      br
      | #{protocol.location}
      br
      | [ #
      | #{' '}
      +tooltipdatenow(protocol.date)
      | #{' ]'}

