include ../mixins/modeldetailbutton
include ../mixins/tooltipborder

mixin schedulelist(schedule, rules)
  +tooltipborder("Статус - " + viewHelper.tooltipTitle(schedule.status))
  li.list-group-item(id= viewHelper.addBorderStyle(schedule.status))
    .dropdown.pull-right
      +modeldetailbutton(schedule, 'schedule', rules)
    span.searchtext
      | #{schedule.title}
      br
      | #{moment(schedule.year).format('YYYY')}
