include ../mixins/modeldetailbutton

mixin schedulelist(schedule, rules)
  li.list-group-item
    .dropdown.pull-right
      +modeldetailbutton(schedule, 'schedule', rules)
    span.searchtext
      | #{schedule.title}
      br
      | #{moment(schedule.year).format('YYYY')}
