extends ../layout

block style
  include ../style/edit
block scripts
  include ../script/edit

include ../mixins/header
include ../mixins/tooltip-date

block content
  #loading_layer
    .loader

  +header(user, true, true, true)

  .container(role="main")
    .row
      .col-sm-12.well

        if (viewHelper.checkUserRule('changeWork', user.Rules))
          .well.well-sm
            h4.text-center
              i
                | Редактирование данных по протокольному поручению
              br
              b
                br
                | #{protocol.title}
                br
                | #{protocol.location}
                br
                | [ #
                | #{" "}
                +tooltipdatenow(protocol.date)
                | #{" ]"}

          hr

          form(role="form" action='/work/protocol/' + protocol.id + '/edit' method='post' id="formProtocol")
            .form-group
              label() Статус приема
              .btn-group.btn-group-sm.btn-group-justified#changeStatusGroup(data-toggle="buttons")
                label.btn.btn-default(class= ((protocol.status=='active')?'btn-primary active':''))
                  input(type="radio" name='status' value='active' checked= (protocol.status=='active'))
                  | В работу
                label.btn.btn-default(class= ((protocol.status=='add')?'btn-danger active':''))
                  input(type="radio" name='status' value='add' checked= (protocol.status=='add'))
                  | Контроль
                label.btn.btn-default(class= ((protocol.status=='close')?'btn-success  active':''))
                  input(type="radio" name='status' value='close' checked= (protocol.status=='close'))
                  | Завершенный
                label.btn.btn-default(class= ((protocol.status=='deleted')?'btn-default  active':''))
                  input(type="radio" name='status' value='deleted' checked= (protocol.status=='delete'))
                  | Удаленное

            .form-group
              label(for="titleProtocol") Название протокола
              .input-group
                span.input-group-addon
                  i.fa.fa-university
                input(type="text" class="form-control" id="titleProtocol" name='titleprotocol' value= protocol.title)

            .form-group
              label(for="dateProtocol") Дата проведения
              .input-group
                span.input-group-addon
                  i.fa.fa-calendar
                input(type="date" class="form-control" id="dateProtocol" placeholder="" name='dateprotocol' value= moment(protocol.date).format('YYYY-MM-DD'))

            .form-group
              label(for="locationProtocol") Где проводится
              .input-group
                span.input-group-addon
                  i.fa.fa-map-marker
                input(type="text" class="form-control" id="locationProtocol" placeholder="локация" name='locationprotocol' value= protocol.location)

            #editModelModal.modal.fade(role="dialog")
              .modal-dialog
                .modal-content
                  .modal-header
                    button(type="button" class="close" data-dismiss="modal") &times;
                    h4.modal-title.text-uppercase Вы согласны с изменениями?

                  .modal-body
                    button.btn.btn-primary(type="submit" id='sendModel') Сохранить
                    button.pull-right(type="button" class="btn btn-default" data-dismiss="modal") Закрыть

            button.btn.btn-primary(type="button" data-toggle="modal" data-target="#editModelModal") Сохранить изменения