script(src='/scripts/libs/jquery.ba-throttle-debounce.min.js')
script(src='/scripts/libs/typeahead.bundle.min.js')
script(src='/scripts/libs/validation/jquery.validate.min.js')
script(src='/scripts/libs/locale/ru(validate).js')
script(src='/scripts/libs/conditionize.flexible.jquery.js')
script(src='/scripts/libs/jquery.magnific-popup.min.js')
script(src='/scripts/libs/jquery.multi-select.js')
script(src='/scripts/main-edit.js')