script(src='/scripts/libs/jquery.ba-throttle-debounce.min.js')
script(src='/scripts/libs/typeahead.bundle.min.js')
script(src='/scripts/libs/validation/jquery.validate.min.js')
script(src='/scripts/libs/locale/ru(validate).js')
script(src='/scripts/libs/jquery.multi-select.js')
script(src='/scripts/libs/footable.min.js')
script(src='/scripts/main-table.js')