script(src='/scripts/libs/jquery.ba-throttle-debounce.min.js')
script(src='/scripts/libs/typeahead.bundle.min.js')
script(src='/scripts/libs/fileinput.min.js')
script(src='/scripts/libs/theme/fileinput-theme.min.js')
script(src='/scripts/libs/locale/ru(fileinput).js')
script(src='/scripts/libs/validation/jquery.validate.min.js')
script(src='/scripts/libs/locale/ru(validate).js')
//- script(src='/scripts/libs/bootstrap-select.min.js')
script(src='/scripts/libs/jquery.lazy.min.js')
script(src='/scripts/libs/jquery-bootstrap-modal-steps.min.js')
script(src='/scripts/libs/jquery.magnific-popup.min.js')
script(src='/scripts/libs/jquery.multi-select.js')
script(src='/scripts/libs/list.min.js')
script(src='/scripts/main-work.js')